CC/CreaCC/XSD/films_copies.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xdb="http://xmlns.oracle.com/xdb"
    xdb:storeVarrayAsTable="true"
    version="1.0">
    
    <xsd:element name="films_copies" type="filmcopieType" xdb:defaultTable="FILMS_COPIES"/>
    
    <xsd:complexType name="filmcopieType" xdb:SQLType="FILMCOPIE_TYPE">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:integer" minOccurs="1" xdb:SQLName="ID" xdb:SQLType="NUMBER"/>
            <xsd:element name="movie" type="xsd:integer" minOccurs="1" xdb:SQLName="MOVIE" xdb:SQLType="NUMBER"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
