CC/CreaCC/XSD/realiser.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xdb="http://xmlns.oracle.com/xdb"
    xdb:storeVarrayAsTable="true"
    version="1.0">
    
    <xsd:element name="realisre" type="RealiserType" xdb:defaultTable="REALISER"/>
    
    <xsd:complexType name="RealiserType" xdb:SQLType="REALISER_TYPE">
        <xsd:sequence>
            <xsd:element name="film" type="xsd:integer" minOccurs="1" xdb:SQLName="FILM" xdb:SQLType="NUMBER"/>            
            <xsd:element name="artiste" type="xsd:integer" minOccurs="1" xdb:SQLName="ARTISTE" xdb:SQLType="NUMBER"/>             
        </xsd:sequence>
    </xsd:complexType>  
</xsd:schema>
